
{% include 'header.html' %}
 <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Data Uji</h1>
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-lg-8">
                  <h6 class="m-0 font-weight-bold text-primary">Tabel Data Uji</h6>
                </div>
                <div class="col-lg-4 text-right">
                  <a href="{{url_for('import_data_uji')}}" class="btn btn-primary">Import Data Uji</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>File</th>
                      <th>Energy 0</th>
                      <th>Homogenity 0</th>
                      <th>Entropy 0</th>
                      <th>Contras 0</th>
                      <th>Energy 45</th>
                      <th>Homogenity 45</th>
                      <th>Entropy 45</th>
                      <th>Contras 45</th>
                      <th>Energy 90</th>
                      <th>Homogenity 90</th>
                      <th>Entropy 90</th>
                      <th>Contras 90</th>
                      <th>Energy 135</th>
                      <th>Homogenity 135</th>
                      <th>Entropy 135</th>
                      <th>Contras 135</th>
                      <th>Label</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {%for uji in data%}
            <tr>
              <td>{{uji.1}}</td>
              <td>{{uji.2}}</td>
              <td>{{uji.3}}</td>
              <td>{{uji.4}}</td>
              <td>{{uji.5}}</td>
              <td>{{uji.6}}</td>
              <td>{{uji.7}}</td>
              <td>{{uji.8}}</td>
              <td>{{uji.9}}</td>
              <td>{{uji.10}}</td>
              <td>{{uji.11}}</td>
              <td>{{uji.12}}</td>
              <td>{{uji.13}}</td>
              <td>{{uji.14}}</td>
              <td>{{uji.15}}</td>
              <td>{{uji.16}}</td>
              <td>{{uji.17}}</td>
              <td>{{uji.18}}</td>
              {%endfor%}
            </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
        <!-- /.container-fluid -->




{% include 'footer.html' %}